In [12]:
import os, sys

In [13]:
project_path = os.path.dirname(os.getcwd())
sys.path.append(project_path)
sys.path

['c:\\Users\\LeoFr\\Desktop\\BootCamp\\CARPETAS_profesorYalumno\\Proyectos\\leonardo_frazzetto_yeqre_apr\\notebooks',
 'c:\\Users\\LeoFr\\.vscode\\extensions\\ms-toolsai.jupyter-2021.6.999662501\\pythonFiles\\vscode_datascience_helpers',
 'c:\\Users\\LeoFr\\.vscode\\extensions\\ms-toolsai.jupyter-2021.6.999662501\\pythonFiles',
 'c:\\Users\\LeoFr\\.vscode\\extensions\\ms-toolsai.jupyter-2021.6.999662501\\pythonFiles\\lib\\python',
 'C:\\Users\\LeoFr\\AppData\\Local\\Programs\\Python\\Python37\\python37.zip',
 'C:\\Users\\LeoFr\\AppData\\Local\\Programs\\Python\\Python37\\DLLs',
 'C:\\Users\\LeoFr\\AppData\\Local\\Programs\\Python\\Python37\\lib',
 'C:\\Users\\LeoFr\\AppData\\Local\\Programs\\Python\\Python37',
 '',
 'C:\\Users\\LeoFr\\AppData\\Roaming\\Python\\Python37\\site-packages',
 'C:\\Users\\LeoFr\\AppData\\Roaming\\Python\\Python37\\site-packages\\win32',
 'C:\\Users\\LeoFr\\AppData\\Roaming\\Python\\Python37\\site-packages\\win32\\lib',
 'C:\\Users\\LeoFr\\AppData\\Roaming\\Python\\Python37\\site-packages\\Pythonwin',
 'C:\\Users\\LeoFr\\AppData\\Local\\Programs\\Python\\Python37\\lib\\site-packages',
 'C:\\Users\\LeoFr\\AppData\\Roaming\\Python\\Python37\\site-packages\\IPython\\extensions',
 'C:\\Users\\LeoFr\\.ipython',
 'c:\\Users\\LeoFr\\Desktop\\BootCamp\\CARPETAS_profesorYalumno\\Proyectos\\leonardo_frazzetto_yeqre_apr',
 'c:\\Users\\LeoFr\\Desktop\\BootCamp\\CARPETAS_profesorYalumno\\Proyectos\\leonardo_frazzetto_yeqre_apr',
 'c:\\Users\\LeoFr\\Desktop\\BootCamp\\CARPETAS_profesorYalumno\\Proyectos\\leonardo_frazzetto_yeqre_apr']

In [14]:
from src.utils.folders_tb import read_json
from src.utils.sql_tb import MySQL
import pandas as pd
from sqlalchemy import create_engine

In [15]:
json_readed = read_json(project_path + os.sep + 'src' + os.sep + 'manage_sql.json')

In [16]:
IP_DNS = json_readed["IP_DNS"]
USER = json_readed["USER"]
PASSWORD = json_readed["PASSWORD"]
BD_NAME = json_readed["BD_NAME"]
PORT = json_readed["PORT"]

## Conectando a MySQL

In [17]:
mysql_db = MySQL(IP_DNS=IP_DNS, USER=USER, PASSWORD=PASSWORD, BD_NAME=BD_NAME, PORT=PORT)
mysql_db.connect()

Connected to MySQL server [y6571256d_ds_april_2021_db]

In [18]:
db_connection_str = mysql_db.SQL_ALCHEMY
db_connection = create_engine(db_connection_str)

## Borrando la tabla "scores" si la hubiera

In [19]:
mysql_db.execute_interactive_sql(sql="DROP TABLE IF EXISTS leonardo_gaston_frazzetto")

Executed

DROP TABLE IF EXISTS leonardo_gaston_frazzetto

 successfully

1

## Se carga el json que deseamos insertar en MySQL y se lo convierte a dataframe.

# La tabla que tengo que subir por aca es MODEL_COMPARACIONNNNNNNNNN

In [16]:
tabla_data_file_path = project_path + os.sep + 'data' + os.sep + 'tablas' + os.sep + 'data_file.csv'
tabla_data_file = pd.read_csv(tabla_data_file_path)

In [17]:
tabla_scores

   a  b
0  1  2
1  3  4

In [19]:
tabla_data_file.to_sql(name = 'leonardo_gaston_frazzetto', con= db_connection, if_exists= 'replace', index=False)

## Verificaci√≥n de que la tabla se ha subido correctamente y se puede acceder a ella.

In [20]:
pd.read_sql_table("leonardo_gaston_frazzetto", db_connection)

   a  b
0  1  2
1  3  4